name: Deploy Node.js App

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run-nodejs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Replace placeholders with secrets
        run: |
          echo "Replacing placeholders with secrets..."
          echo "SERVICEID=${{ secrets.SERVICEID }}"
          echo "TEMPLATEID=${{ secrets.TEMPLATEID }}"
          echo "PUBLICKEY=${{ secrets.PUBLICKEY }}"
          sed -i 's/__SERVICEID__/${{ secrets.SERVICEID }}/g' ./dist/config.js
          sed -i 's/__TEMPLATEID__/${{ secrets.TEMPLATEID }}/g' ./dist/config.js
          sed -i 's/__PUBLICKEY__/${{ secrets.PUBLICKEY }}/g' ./dist/config.js
          cat ./dist/config.js # Print the file to verify replacements

      - name: Run Node.js script
        run: node dist/config.js
        env:
          SERVICEID: ${{ secrets.SERVICEID }}
          TEMPLATEID: ${{ secrets.TEMPLATEID }}
          PUBLICKEY: ${{ secrets.PUBLICKEY }}
