name: Deploy Node.js App

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run-nodejs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Replace placeholders with secrets
        run: |
          sed -i 's/__SERVICEID__/${{ secrets.SERVICEID }}/g' ./dist/contact.js
          sed -i 's/__TEMPLATEID__/${{ secrets.TEMPLATEID }}/g' ./dist/contact.js
          sed -i 's/__PUBLICKEY__/${{ secrets.PUBLICKEY }}/g' ./dist/contact.js
          cat ./dist/contact.js # Print the file to verify replacements
